body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  min-height: 100vh;
}
.weather-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  margin-top: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.loader-container {
  text-align: center;
  margin-top: 30px;
  color: white;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255,255,255,0.3);
  border-top: 6px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
